div.fiesta-parade-route {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 80px; }
  div.fiesta-parade-route header {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin: 40px 0 25px;
    font-family: 'Eczar', serif;
    font-size: 2em;
    color: #d71921; }
  div.fiesta-parade-route .parade-route {
    background: transparent;
    padding: 6px 0 6px 6px;
    width: 100%;
    max-width: 1050px;
    text-align: left; }
    div.fiesta-parade-route .parade-route iframe {
      width: 100%;
      max-width: 720px;
      height: 540px; }

div.fiesta-calendar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  div.fiesta-calendar header {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin: 40px 0 25px;
    font-family: 'Eczar', serif;
    font-size: 2em;
    color: #d71921; }
  div.fiesta-calendar .date {
    width: 100%;
    margin: 0 auto; }
    div.fiesta-calendar .date .title {
      font-family: 'Eczar', serif;
      font-size: 1.5em;
      color: #d71921; }
    div.fiesta-calendar .date .main {
      margin-bottom: 40px; }
      div.fiesta-calendar .date .main.one {
        height: 90px; }
      div.fiesta-calendar .date .main.two {
        height: 580px; }
      div.fiesta-calendar .date .main.three {
        height: 1250px; }
      div.fiesta-calendar .date .main.four {
        height: 600px; }
      div.fiesta-calendar .date .main.five {
        height: 320px; }
      div.fiesta-calendar .date .main.six {
        height: 500px; }
      div.fiesta-calendar .date .main.seven {
        height: 575px; }
      div.fiesta-calendar .date .main.eight {
        height: 710px; }
      div.fiesta-calendar .date .main.nine {
        height: 480px; }
      div.fiesta-calendar .date .main.ten {
        height: 565px; }
      div.fiesta-calendar .date .main.eleven {
        height: 430px; }
      div.fiesta-calendar .date .main iframe {
        width: 100%;
        height: 100%;
        border: none; }
