@import url('https://fonts.googleapis.com/css?family=Eczar');
@import './mixins.scss';

$black: rgba(34, 34, 34, 1);
$white: #FFF;
$blue: rgba(22, 144, 202, 1);
$fadingBlue: rgba(22, 144, 202, 0.65);
$red: rgba(215, 25, 33, 1);
$green: rgba(0, 166, 81, 1);
$yellow: rgba(243, 189, 12, 1);
$purple: rgba(150, 74, 116, 1);

body {
  padding: 0;
  margin: 0;
  background: #fff;
}

div.fiesta-background-images {
	#pinata {
		position: absolute;
		right: 0;
		top: 200px;
		z-index: 1000;
	}

	#shoes {
		position: absolute;
		left: -50px;
		top: 500px;
		z-index: 1000;
	}
}

nav.fiesta {
	width: 100%;
  margin: 0 auto;
  display: block;
  color: $black;
  font-family: 'Eczar', serif;

  hr {
  	border: none;
  	display: inline-block;
  	background: $green;
  	margin-bottom: 10px;
  	height: 15px;
  	width: 1px;
  }

  .logo {
    padding: 10px 1% 0 0;
    display: inline-block;
	  img {
	  	width: 100%;
	    height: auto;
	  }
  }

  .title {
  	padding: 0 2% 0 1%;
  	font-size: 1.8em;
    display: inline-block;
    color: $blue;
    position: relative;
    top: -8px;
  }

  .social {
    padding: 15px 2%;
    display: inline-block;
    float: right;

    a {
      text-decoration: none;

      i {
          color: $green;
          padding-left: 10px;
          font-size: 20px;
          display: inline-block;
      }
    }

    a:nth-child(2) i { color: $yellow; }
    a:nth-child(3) i { color: $purple; }
  }
}

header.fiesta {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	background: $fadingBlue;

  .slideshow-wrapper {
    background: transparent;
    height: 400px;
    padding: 4px;
    padding-right: 0;
    text-align: right;
    display: none;

    @include breakpoint(desktop) {
      display: inline-block;
    }

    .slideshow-buttons { display: none; }

  	.slideshow {
  		width: 600px;
      height: 400px;
    	overflow: hidden;
  		visibility: hidden;
  	}
  }

  .schedule {
    width: 100%;
    height: 400px;
    display: inline-block;
    position: relative;
    background: transparent;
    padding: 4px;
    padding-left: 0;

    @include breakpoint(desktop) {
      width: calc(100% - 620px);
      left: -1%;
      top: 4px;
    }
  }
}

div.fiesta-header-spacer {
	width: 100%;
	max-width: 1200px;
	height: 20px;
	margin: 20px auto 0;
	background: url('http://ww1.hdnux.com/photos/60/40/52/12716672/4/rawImage.jpg') transparent repeat-x 0 0;
}

main.fiesta {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

div.article-title {
	width: 100%;
	margin: 20px 0 10px;
	font-family: 'Eczar', serif;
	font-size: 1.6em;
	color: $blue;
	display: inline-block;

	@include breakpoint(tablet) {
  	width: 65%;
  }
}

div.hdnce-collection-82368-premium_article_featured_articles {
	width: 100%;
  margin: 0 auto;
  background: none;
  display: inline-block;

  @include breakpoint(desktop) {
  	width: 65%;
  }

  div { display: inline-block; }

  div.collection.article-sections {
  	background: none;
  	padding-bottom: 0;
  	margin-bottom: 0;

  	.odd, .even {
  		background: none;
  	}

  	.column-outer-wrap {
  		background: none;

	  	.column-wrap, .column-wrap.column-wrap-last {
	  		background: none;
		  	display: inline-block;
		    width: 100%;
		    position: relative;
		    padding: 0;
		    margin: 0;

	    	.column, .column.odd, .column.odd.firstcolumn {
	    		float: left;
		      width: 100%;
		      vertical-align: top;
		      margin: 0 0 50px;
		      padding: 0;

		      .header { display: none; }

		      img {
		      	margin-bottom: 0;
		      	border: 1px solid $blue;
		      }

		      h2.headline a, h3.headline a {
		      	color: $black;
		      }

		      @include breakpoint(tablet) {
		        min-height: 330px;
		        max-height: 330px;
		        width: 48%;
		        margin: 0;

		        &:nth-child(2n) {
		          margin-left: 4%;
		        }
		      }
	    	}
	    }
	  }
  }
}

div.hdnce-item-78797 {
	width: 100%;
	margin: 20px 0 0;
	display: inline-block;
	vertical-align: top;

	@include breakpoint(desktop) {
  	width: 32%;
  	margin-left: 2%;
  	margin-top: 0;
  	position: relative;
  	top: -32px;
  }

  .competition-wrapper, .medals-wrapper {
  	width: 100%;
  	margin: 0;
  	display: inline-block;

  	@include breakpoint(tablet) {
	  	width: 48%;
	  }

	  @include breakpoint(desktop) {
	  	width: 100%;
  	}
	}

  .medals-wrapper { 
  	margin-top: 40px;
  	vertical-align: top;

  	@include breakpoint(tablet) {
  		margin-top: 0;
  		margin-left: 2%;
  	}

  	@include breakpoint(desktop) {
  		margin-top: 40px;
  		margin-left: 0;
  	}
  }

	.medals-title, .competition-title {
		width: 100%;
		font-family: 'Eczar', serif;
		font-size: 1.6em;
		color: $red;
		margin-bottom: 10px;
	}

	.competition-title { color: $green; }

	.show-us-medals, .competition {
		width: calc(100% - 2px);
		margin: 0 auto;
		text-align: left;
		background: $white;

		@include breakpoint(desktop) {
			max-height: 330px;
			min-height: 330px;
			overflow: hidden;
		}

		img {
			width: 100%;
			height: auto;
			border: 1px solid $red;
		}
	}

	.competition img { border: 1px solid $green; }
}

div.hdnce-item-78844 {
	width: 100%;
	margin: 20px 0;
	display: inline-block;

	@include breakpoint(desktop) {
  	width: 65%;
  	position: relative;
  	top: -100px;
  }

  .hashtag-title {
		width: 100%;
		font-family: 'Eczar', serif;
		font-size: 1.6em;
		color: $purple;
		margin-bottom: 10px;
	}

  ul.juicer-feed {
  	width: 100%;
  	height: auto;

  	h1.referral {
  		display: none;
  	}
  }
}